[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Pillow = "*"
diffusers = "==0.4.0"
transformers = "*"
scipy = "*"
ftfy = "*"
torch = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.9"
